body {
/*    font-size: 14px;
    line-height: 1.3;
*/
}

.nav > li > a {
    font-size: 14px;
}

.container {
/*
    padding-left: 10px;
    padding-right: 10px;
*/
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.panel {
    margin-bottom: 10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

/*
* Layout of home page
*/
.main-menu {
    padding-left: 0;
    padding-right: 0;
}

/*
* atlas-section
*/
.detector {
    color: #fff;
    background-color: #418EDD;
    border-color: #418EDD;
}

.trigger {
    color: #fff;
    background-color: #2D5FC2;
    border-color: #2D5FC2;
}

.computing {
    color: #fff;
    background-color: #3CC6F3;
    border-color: #3CC6F3;
}

.data {
    color: #fff;
    background-color: #2ACECB;
    border-color: #2ACECB;
}

.physics {
    color: #fff;
    background-color: #2CD9C2;
    border-color: #2CD9C2;
}

.btn:hover, .btn:focus {
/*    color: #fff; */
}

/*
* atlas-headings, we should use something from bootswatch
*/
a:focus, a:hover {
    outline: none;
    text-decoration: none;
}

/*
* Override so that selected submenus are white on blue and not white on grey
*/
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #2fa4e7;
}


/*
* footer
*/
.navbar-nav > li.copyright,
.navbar-nav > li.update,
.navbar-nav > li > span#label {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    display: block;
    color: #fff;
}

.navbar-nav > li > span.label {
    margin-top: 17px;
    margin-bottom: 17px;
}

.navbar {
    border-radius: 0;
}


/* fix for bootstrap3 collapse on td, th, others tr and tbody are ok */
td.collapse.in {
    display: table-cell;
}
th.collapse.in {
    display: table-cell;
}

/* Override for Bootwatch Cerulean */
.card > .card-header {
    background-color: #418EDD;
    color: #ffffff;
    font-size: 18px;
    line-height: 14px;
}

.card-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
