body {
  font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}
body.dt-example-bootstrap {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

div.container {
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Raleway", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 3em;
  line-height: 1em;
}
h1 span {
  font-size: 0.5em;
  line-height: 1em;
}

a {
  cursor: pointer;
  color: #3174c7;
  text-decoration: none;
}

p > a:hover {
  text-decoration: underline;
}

div.toc ul {
  color: #4E6CA3;
  list-style-type: none;
  padding-left: 0;
}
div.toc li {
  padding: 0.2em 1em;
  border-left: 4px solid transparent;
  border-bottom: 1px solid #e6e6e6;
}
div.toc li.active {
  border-left: 4px solid #458ae0;
}
div.toc li:first-child {
  border-top: 1px solid #efefef;
}
div.epilogue {
  text-align: center;
}

p.copyright {
  font-size: 0.8em;
  padding-bottom: 2em;
  margin-bottom: 0;
}

.clear {
  clear: both;
  height: 0;
}

div.info {
  margin-bottom: 2em;
  column-count: 2;
  column-rule: 1px solid #F3F3F3;
}
div.info > * {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
div.info li {
  margin-top: 0.75em;
}
div.info p:first-child {
  margin-top: 0;
}
div.footer {
  position: relative;
  margin-top: 3em;
  border-top: 1px solid #999;
  background-color: #eee;
}
div.footer > div.liner {
  max-width: 960px;
  margin: 0 auto;
}
div.footer > div.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
}
div.toc {
  column-count: 2;
}
div.toc-group {
  display: inline-block;
  width: 100%;
}
div.box {
  overflow: auto;
  height: 8em;
  padding: 1em;
  color: #444;
  background-color: #fcfcfc;
  border: 1px solid #e0e0e0;
  margin-bottom: 2em;
}

code {
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;
  padding: 1px 4px;
  font-size: 0.8em;
  color: #444;
  background-color: #fcfcfc;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code:after {
  display: inline-block;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 4px;
  padding-left: 4px;
  opacity: 0.5;
}

a code {
  text-decoration: underline;
}

code.option {
  color: #D14;
  /* red */
  background-color: #fcf6f8;
  border: 1px solid #f7d6df;
  white-space: nowrap;
}
code.option:after {
  content: "Option";
}
code.path {
  color: #095c05;
  /* dark green */
  background-color: #eef7ed;
  border: 1px solid #8ccb89;
  white-space: nowrap;
}
code.path:after {
  content: "Path";
}
code.tag {
  color: #c29f00;
  /* yellow */
  background-color: #fff9d7;
  border: 1px solid #ffe700;
  white-space: nowrap;
}
code.tag:after {
  content: "Tag";
}
code.api {
  color: #0c199c;
  /* dark blue */
  background-color: #f4f5fc;
  border: 1px solid #c6cbe9;
  white-space: nowrap;
}
code.api:after {
  content: "API";
}
code.type {
  color: #d119cf;
  /* pink */
  background-color: #faebfa;
  border: 1px solid #f3aef2;
  white-space: nowrap;
}
code.type:after {
  content: "Type";
}
code.event {
  color: #2a839e;
  /* deep aqua */
  background-color: #f5fafb;
  border: 1px solid #a8ddec;
  white-space: nowrap;
}
code.event:after {
  content: "Event";
}
code.string {
  color: #c05f1d;
  /* brown */
  background-color: #f5eee9;
  border: 1px solid #dfc4b2;
  white-space: nowrap;
}
code.string:after {
  content: "String";
}
code.field {
  color: #ad1ee8;
  /* purple */
  background-color: #f9f1fc;
  border: 1px solid #ebc9f7;
  white-space: nowrap;
}
code.field:after {
  content: "Field";
}
code.button {
  color: #464e50;
  /* grey */
  background-color: #f2f7f9;
  border: 1px solid #b8c3c5;
  white-space: nowrap;
}
code.button:after {
  content: "Button";
}
code.multiline {
  display: inline-block;
  width: 95%;
}

div.syntaxhighlighter {
  padding: 20px 20px 20px 3px;
  border-radius: 5px;
}
div.syntaxhighlighter code:after {
  display: none;
}

ul.tabs {
  position: relative;
  display: block;
  top: 1px;
  height: 40px;
  margin: 20px 20px 0 0 !important;
  padding-left: 2rem;
  font-size: 1em;
}
ul.tabs li {
  display: block;
  float: left;
  padding: 0 15px;
  height: 40px;
  font-size: 1.2em;
  margin: 0 5px;
  cursor: pointer;
  line-height: 40px;
  color: #121e32;
  border: 1px solid transparent;
  border-bottom: none;
  margin-top: -1px;
}
ul.tabs li.active {
  border: 1px solid #ccc;
  border-bottom: 1px solid white;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
}

div.tabs {
  clear: both;
  margin-top: -1px;
  display: block;
  font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

body.dt-example-bulma > div.container > section > ul.tabs {
  top: 0px;
}

div.tabs > div {
  padding: 15px;
  border: 1px solid #ccc;
  display: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
div.tabs > div h1 {
  border-bottom: none;
  margin-top: 1em;
}
div.tabs > div > p {
  margin-bottom: 1rem;
}
div.tabs > div > p:first-child {
  margin-top: 0;
}
div.tabs > div > ul {
  display: block;
  list-style: disc;
  padding-left: 2rem;
  border-width: 0px;
  margin-bottom: 1rem;
}
div.tabs > div > ul > li {
  display: list-item;
}
div.tabs > div > ul > li > a {
  border-bottom-width: 0px;
  display: block;
  padding: 0px;
}
div.column_half {
  float: left;
  width: 49%;
  padding-right: 1%;
}

@media only screen and (max-width: 979px) {
  div.container, div.footer {
    padding: 0 1em;
  }
}
@media screen and (max-width: 767px), screen and (max-width: 768px) and (orientation: portrait) {
  div.info, div.toc {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
  }
  h1 span {
    display: block;
  }
}
html.dark body {
  background-color: rgb(33, 37, 41);
  color: rgb(218, 224, 231);
}
html.dark a {
  color: rgb(110, 168, 254);
}
html.dark div.toc li {
  border-bottom: 1px solid rgb(73, 80, 87);
}
html.dark div.toc li:first-child {
  border-top: 1px solid rgb(73, 80, 87);
}
html.dark div.toc li.active {
  border-left: 4px solid rgb(110, 168, 254);
}
html.dark div.info {
  column-rule-color: rgb(73, 80, 87);
}
html.dark div.footer {
  border-top-color: rgb(26, 27, 27);
  background-color: rgb(31, 34, 36);
}
html.dark code {
  color: rgb(228, 228, 228);
  background-color: rgb(28, 30, 31);
  border: 1px solid rgb(5, 5, 5);
}
html.dark ul.tabs li {
  color: inherit;
}
html.dark ul.tabs li.active {
  border: 1px solid rgb(73, 80, 87);
  border-bottom: 1px solid rgb(28, 30, 31);
  background-color: rgb(28, 30, 31);
}
html.dark div.tabs > div {
  background-color: rgb(28, 30, 31);
  border: 1px solid rgb(73, 80, 87);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
html.dark code.option {
  color: #f7d6df;
  background-color: #36373b;
  border: 1px solid #2c2e32;
}
html.dark code.path {
  color: #8ccb89;
  background-color: #2c3633;
  border: 1px solid #262d2e;
}
html.dark code.tag {
  color: #fff9d7;
  background-color: #373a3a;
  border: 1px solid #2c3032;
}
html.dark code.api {
  color: #c6cbe9;
  background-color: #32363c;
  border: 1px solid #292d33;
}
html.dark code.type {
  color: #faebfa;
  background-color: #37393e;
  border: 1px solid #2c2f33;
}
html.dark code.event {
  color: #c7edf5;
  background-color: #32393d;
  border: 1px solid #292f33;
}
html.dark code.string {
  color: #f5eee9;
  background-color: #36393c;
  border: 1px solid #2c2f33;
}
html.dark code.field {
  color: #f9f1fc;
  background-color: #37393e;
  border: 1px solid #2c2f34;
}
html.dark code.button {
  color: #f2f7f9;
  background-color: #363a3e;
  border: 1px solid #2b3033;
}
html.dark .syntaxhighlighter {
  background: #2d2d2d !important;
  box-shadow: inset 0 0 3px rgb(0, 0, 0) !important;
}
html.dark .syntaxhighlighter .line.alt1 {
  background-color: #2d2d2d !important;
}
html.dark .syntaxhighlighter .line.alt2 {
  background-color: #292929 !important;
}
html.dark .syntaxhighlighter table caption {
  color: black !important;
}
html.dark .syntaxhighlighter .gutter div {
  color: #8d8d8d !important;
}
html.dark .syntaxhighlighter .gutter .line {
  border-right: 3px solid #1a1a1a !important;
}
html.dark .syntaxhighlighter .syntaxhighlighter.collapsed .toolbar {
  color: blue !important;
  background: white !important;
  border: 1px solid #4E6CA3 !important;
}
html.dark .syntaxhighlighter .syntaxhighlighter.collapsed .toolbar a {
  color: blue !important;
}
html.dark .syntaxhighlighter .syntaxhighlighter.collapsed .toolbar a:hover {
  color: red !important;
}
html.dark .syntaxhighlighter .toolbar {
  color: white !important;
}
html.dark .syntaxhighlighter .toolbar a:hover {
  color: #b7c5df !important;
  background: #39568b !important;
}
html.dark .syntaxhighlighter .plain,
html.dark .syntaxhighlighter .plain a {
  color: rgb(218, 224, 231) !important;
}
html.dark .syntaxhighlighter .comments,
html.dark .syntaxhighlighter .comments a {
  color: #6A9955 !important;
}
html.dark .syntaxhighlighter .string,
html.dark .syntaxhighlighter .string a {
  color: #ce9178 !important;
}
html.dark .syntaxhighlighter .keyword {
  color: #569cd6 !important;
}
html.dark .syntaxhighlighter .preprocessor {
  color: gray !important;
}
html.dark .syntaxhighlighter .variable {
  color: #aa7700 !important;
}
html.dark .syntaxhighlighter .value {
  color: #009900 !important;
}
html.dark .syntaxhighlighter .functions {
  color: #ff1493 !important;
}
html.dark .syntaxhighlighter .constants {
  color: #0066cc !important;
}
html.dark .syntaxhighlighter .script {
  color: #006699 !important;
}
html.dark .syntaxhighlighter .color1,
html.dark .syntaxhighlighter .color1 a {
  color: gray !important;
}
html.dark .syntaxhighlighter .color2,
html.dark .syntaxhighlighter .color2 a {
  color: #ff1493 !important;
}
html.dark .syntaxhighlighter .color3,
html.dark .syntaxhighlighter .color3 a {
  color: red !important;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) body {
    background-color: rgb(33, 37, 41);
    color: rgb(218, 224, 231);
  }
  :root:not(.light) a {
    color: rgb(110, 168, 254);
  }
  :root:not(.light) div.toc li {
    border-bottom: 1px solid rgb(73, 80, 87);
  }
  :root:not(.light) div.toc li:first-child {
    border-top: 1px solid rgb(73, 80, 87);
  }
  :root:not(.light) div.toc li.active {
    border-left: 4px solid rgb(110, 168, 254);
  }
  :root:not(.light) div.info {
    column-rule-color: rgb(73, 80, 87);
  }
  :root:not(.light) div.footer {
    border-top-color: rgb(26, 27, 27);
    background-color: rgb(31, 34, 36);
  }
  :root:not(.light) code {
    color: rgb(228, 228, 228);
    background-color: rgb(28, 30, 31);
    border: 1px solid rgb(5, 5, 5);
  }
  :root:not(.light) ul.tabs li {
    color: inherit;
  }
  :root:not(.light) ul.tabs li.active {
    border: 1px solid rgb(73, 80, 87);
    border-bottom: 1px solid rgb(28, 30, 31);
    background-color: rgb(28, 30, 31);
  }
  :root:not(.light) div.tabs > div {
    background-color: rgb(28, 30, 31);
    border: 1px solid rgb(73, 80, 87);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
  :root:not(.light) code.option {
    color: #f7d6df;
    background-color: #36373b;
    border: 1px solid #2c2e32;
  }
  :root:not(.light) code.path {
    color: #8ccb89;
    background-color: #2c3633;
    border: 1px solid #262d2e;
  }
  :root:not(.light) code.tag {
    color: #fff9d7;
    background-color: #373a3a;
    border: 1px solid #2c3032;
  }
  :root:not(.light) code.api {
    color: #c6cbe9;
    background-color: #32363c;
    border: 1px solid #292d33;
  }
  :root:not(.light) code.type {
    color: #faebfa;
    background-color: #37393e;
    border: 1px solid #2c2f33;
  }
  :root:not(.light) code.event {
    color: #c7edf5;
    background-color: #32393d;
    border: 1px solid #292f33;
  }
  :root:not(.light) code.string {
    color: #f5eee9;
    background-color: #36393c;
    border: 1px solid #2c2f33;
  }
  :root:not(.light) code.field {
    color: #f9f1fc;
    background-color: #37393e;
    border: 1px solid #2c2f34;
  }
  :root:not(.light) code.button {
    color: #f2f7f9;
    background-color: #363a3e;
    border: 1px solid #2b3033;
  }
  :root:not(.light) .syntaxhighlighter {
    background: #2d2d2d !important;
    box-shadow: inset 0 0 3px rgb(0, 0, 0) !important;
  }
  :root:not(.light) .syntaxhighlighter .line.alt1 {
    background-color: #2d2d2d !important;
  }
  :root:not(.light) .syntaxhighlighter .line.alt2 {
    background-color: #292929 !important;
  }
  :root:not(.light) .syntaxhighlighter table caption {
    color: black !important;
  }
  :root:not(.light) .syntaxhighlighter .gutter div {
    color: #8d8d8d !important;
  }
  :root:not(.light) .syntaxhighlighter .gutter .line {
    border-right: 3px solid #1a1a1a !important;
  }
  :root:not(.light) .syntaxhighlighter .syntaxhighlighter.collapsed .toolbar {
    color: blue !important;
    background: white !important;
    border: 1px solid #4E6CA3 !important;
  }
  :root:not(.light) .syntaxhighlighter .syntaxhighlighter.collapsed .toolbar a {
    color: blue !important;
  }
  :root:not(.light) .syntaxhighlighter .syntaxhighlighter.collapsed .toolbar a:hover {
    color: red !important;
  }
  :root:not(.light) .syntaxhighlighter .toolbar {
    color: white !important;
  }
  :root:not(.light) .syntaxhighlighter .toolbar a:hover {
    color: #b7c5df !important;
    background: #39568b !important;
  }
  :root:not(.light) .syntaxhighlighter .plain,
  :root:not(.light) .syntaxhighlighter .plain a {
    color: rgb(218, 224, 231) !important;
  }
  :root:not(.light) .syntaxhighlighter .comments,
  :root:not(.light) .syntaxhighlighter .comments a {
    color: #6A9955 !important;
  }
  :root:not(.light) .syntaxhighlighter .string,
  :root:not(.light) .syntaxhighlighter .string a {
    color: #ce9178 !important;
  }
  :root:not(.light) .syntaxhighlighter .keyword {
    color: #569cd6 !important;
  }
  :root:not(.light) .syntaxhighlighter .preprocessor {
    color: gray !important;
  }
  :root:not(.light) .syntaxhighlighter .variable {
    color: #aa7700 !important;
  }
  :root:not(.light) .syntaxhighlighter .value {
    color: #009900 !important;
  }
  :root:not(.light) .syntaxhighlighter .functions {
    color: #ff1493 !important;
  }
  :root:not(.light) .syntaxhighlighter .constants {
    color: #0066cc !important;
  }
  :root:not(.light) .syntaxhighlighter .script {
    color: #006699 !important;
  }
  :root:not(.light) .syntaxhighlighter .color1,
  :root:not(.light) .syntaxhighlighter .color1 a {
    color: gray !important;
  }
  :root:not(.light) .syntaxhighlighter .color2,
  :root:not(.light) .syntaxhighlighter .color2 a {
    color: #ff1493 !important;
  }
  :root:not(.light) .syntaxhighlighter .color3,
  :root:not(.light) .syntaxhighlighter .color3 a {
    color: red !important;
  }
}
